.hero-head
    nav(role='navigation' aria-label='main navigation').navbar
        .container
            .navbar-brand
                a(href='https://inventory.rawsec.ml').navbar-item
                    img(src='/docs/img/logo5_50x40.png', alt='Rawsec logo')
                a(role='button' aria-label='menu' aria-expanded='false').navbar-burger
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
            .navbar-menu
                .navbar-end
                    a(href='index.html').navbar-item.has-text-white
                        span.icon
                            i.fas.fa-home
                        span Home
                    a(href='features.html').navbar-item.has-text-white
                        span.icon
                            i.fas.fa-star
                        span Features
                    a(href='docs/', target='_blank', rel='noopener noreferrer').navbar-item.has-text-white
                        span.icon
                            i.fas.fa-book
                        span Documentation
                    a(href='about.html').navbar-item.has-text-white
                        span.icon
                            i.fas.fa-info-circle
                        span About
                    a(href='https://rawsec.ml').navbar-item Rawsec
                    a(href='https://gitlab.com/rawsec/rawsec-cybersecurity-list' title='rawsec inventory gitlab repository').navbar-item.is-dark
                        span.icon
                            i.fab.fa-gitlab
                    a(href='https://github.com/noraj/rawsec-cybersecurity-inventory' title='rawsec inventory github mirror repository').navbar-item.is-dark
                        span.icon
                            i.fab.fa-github-alt
                    a(href='https://twitter.com/rawsec_cyber' title='rawsec twitter').navbar-item.is-dark
                        span.icon
                            i.fab.fa-twitter
                    a(href='https://twitter.com/RawsecBot' title='rawsec inventory bot twitter').navbar-item.is-dark
                        span.icon
                            i.fab.fa-twitter
